@charset "UTF-8";

/*typical device breakpoints
pequenas telas - até 600px
telemóveis - 600px até 900px
tablets : 768px até 992px
desktop - 992px até 1200px
telas grandes - acima de 1200px
*/

@media screen and (min-width: 769px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }
    
}

main {
    width: 768px;
}